<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />

    <!--external-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/symbolicons-junk-food/28/taco-128.png">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/buttons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    
    <!--internal-->
    <link rel="stylesheet" type="text/css" href="stylesheets/os.css">
    <script type="text/javascript" src="scripts/os.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/helper.css">
    
  </head>
  <body>
    
    <span id='pageJSON' hidden>
      <%= JSON.stringify(page); %>
    </span>
    
    <span id='userJSON' hidden>
      <%= JSON.stringify(currentUser); %>
    </span>
    
    <!-- Header -->
    <nav id="header" class="navbar navbar-expand-lg navbar-light bg-light">
      
      <!-- brand -->
      <a class="navbar-brand" href="#">
        <h1>
          OS
        </h1>
      </a>
      
      <!-- hamburger -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- main content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <!-- go home -->
        <ul class="navbar-nav mr-auto">
          <a href="/" id="homebutton" class="header-item button button-3d button-caution button-small">
           <i class="fa fa-home"></i>
           Home
          </a>
          <% if (currentUser && currentUser.username) { %>
            <a id="username" href='/account' class="button header-item button-glow button-border button-rounded button-primary button-small">
              You are: <%= currentUser.username %>
            </a>
          <% } else { %>
            <a id='login' href='/login' class="button header-item button-glow button-border button-rounded button-caution button-small">
              Log in
            </a>
          <% } %>
        </ul>
        
        <ul class="navbar-nav ml-auto">
          
          <!-- topics -->
          <a href="#topics" class="header-item button button-3d button-action button-small">
           <i class="fa fa-book"></i>
           Topics
          </a>
          
          <!-- rules -->
          <a href="#rules" class="header-item button button-3d button-highlight button-small">
           <i class="fa fa-ban"></i>
           Rules
          </a>
          
          <!-- statistics -->
          <a id="stats_a" href="#stats" class="header-item button button-3d button-primary button-small">
           <i class="fa fa-signal"></i>
           Stats
          </a>
          
        </ul>
        
      </div>
      
    </nav>
    
    <!-- Content -->
    <div class="w-100 nobox" id="content">
      
      <!--topics-->
      <div id="topics" class="section">
        
        <!--topic navigation-->
        <div id='topic-navigation'>
          
        </div>
        
        <!--to display the topics-->
        <div id="topic-display">
          
        </div>
        
      </div>
    
      <div id="rules" class="section hideme container">
        <h1 class="text-center">
          Yes, we have rules!
        </h1>
        
        <!--the rules-->
        <h1 class="ui top attached header">
          Keep it G for Godly!
          <br>
          Godly means:
        </h1>
        <div class="ui attached segment">
          <h2 class="noweight">
            Respect
          </h2>
          <h2 class="noweight">
            Clean speech
          </h2>
          <h2 class="noweight">
            Jesus-oriented or nothing-oriented
          </h2>
        </div>
        
        <h1 class="ui top attached header">
          Keep it either relevant or in the "unrelated"
        </h1>
        
        <h1 class="ui top attached header">
          No trolling, which includes:
        </h1>
        <div class="ui attached segment">
          <h2 class="noweight">
            Session stealing
          </h2>
          <h2 class="noweight">
            Information stealing
          </h2>
          <h2 class="noweight">
            Breaking the app if I'm not cool with it (but not handsome, I'm always handsome)
          </h2>
          <h2 class="noweight">
            Trying to/Successfully bypass/ing a ban in any way to get back your banned priveleges
          </h2>
          <h2 class="noweight">
            Purposeful unhelpful information
          </h2>
          <h2 class="noweight">
            snackpack sticks and cheese dip thingies
          </h2>
          <h2 class="noweight">
            Well, I think that's it, but uh just be respectful and stuff and don't try to pull off any shenanigans or anything :/
          </h2>
        </div>
    
      </div>
      
      <div id="stats" class="section hideme">
        
        <canvas id="myChart"></canvas>
        
      </div>
    
    </div>
    
  </body>
</html>