<% include ../partials/header.ejs %>

<link type="text/css" rel="stylesheet" href="stylesheets/loginregister.css"></link>

<form id="form" action="/login" method="POST">
	
  <p id="form-title">
    Login
  </p>
  
  <div class="input-group">
    <p class="form-input-label">
      <strong>Username</strong>:
    </p>
    <input name="username" type="text" class="form-control" aria-label="username" placeholder="username">
  </div>
  
  <br>
  
  <div class="input-group">
    <p class="form-input-label">
      <strong>Password</strong>:
    </p>
    <input name="password" type="password" class="form-control" aria-label="password" placeholder="password">
  </div>
  
  <br>
  
  <button class="d-block w-25 m-auto btn btn-secondary">
    Login
  </button>
	
</div>

<% include ../partials/footer.ejs %>