<% include ../partials/header.ejs %>

  <!--external-->
  <script type='text/javascript' src='https://unpkg.com/tippy.js@2.5.3/dist/tippy.all.min.js'></script>
  <script type='text/javascript' src="https://cdn.jsdelivr.net/npm/lettering@0.4.1/dist/lettering.min.js"></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.min.js'></script>
  <link rel='stylesheet' type='text/css' href='/stylesheets/helper.css'>
  <link rel='stylesheet' type='text/css' href='https://cdn.rawgit.com/vaakash/socializer/a96468a5/css/socializer.min.css'>
  <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'>

  <!--internal-->
  <link rel='stylesheet' type='text/css' href='/stylesheets/index.css'>
  <script type='text/javascript' src='/scripts/index.js'></script>
  
  TODO ADD GETTING STARTED MODAL

  <!--Loader-->
  <div id='loader' class='w-100 h-100'>
    <div class='ui active dimmer'>
      <div class='ui massive text loader'>
        Grabbing Tacos 🌮
      </div>
    </div>
  </div>
  
  <!--Social and More info-->
  <div class="overlay" id='social_overlay'>
    
    <div>
      <div class='socializer a sr-vertical sr-32px sr-squircle-2 sr-rotate sr-bdr-md sr-bdr-dark sr-bg-white sr-sw-2 sr-pad'>
        <span class='sr-facebook sr-text-hover'>
          <a href='https://www.facebook.com/profile.php?id=100008840418552' title='Facebook'>
            <i class='fa fa-facebook'></i>
          </a>
          <span class='text'>Facebook</span>
        </span>
        <span class='sr-youtube sr-text-hover'>
          <a href='https://www.youtube.com/channel/UCztmbBQYWIaeW-FZc3ur5iA?view_as=subscriber' title='Youtube'>
            <i class='fa fa-youtube-play'></i>
          </a>
          <span class='text'>Youtube</span>
        </span>
        <span class='sr-email sr-text-hover'>
        	<a href='https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=ghostofmmo@gmail.com' title='Email'>
            <i class='fa fa-envelope'></i>
          </a>
          <span class='text'>Email</span>
        </span>
        <span class='sr-github sr-text-hover'>
          <a href='https://github.com/TheRedstoneTaco' title='Github'>
            <i class='fa fa-github'></i>
          </a>
          <span class='text'>Github</span>
        </span>
        <span class='sr-paypal sr-text-hover'>
          <a href='https://paypal.me/JesusAndTacos' title='PayPal'>
            <i class='fa fa-paypal'></i>
          </a>
          <span class='text'>PayPal</span>
        </span>
      </div>
    </div>
  
  </div>
  
  <br>
  
  <!--page container-->
  <div class='ui container'>
    
    <!--Title-->
    <h1 id='title' class='ui huge header cozycenter'>
      <span class="tlt">Dustin West</span>
      <h4 id='secondary' class='ui huge sub header disabled cozycenter'>
        I love Jesus.
      </h4>
    </h1>
    
    <!--this is just responsive hr's-->
    <hr class='d-none d-md-block w-50 m-auto'>
    <hr class='d-xs-block d-md-none w-95'>
    <br>
    
    <!--Intro-->
    <div>
      <div class='ui items'>
        <div class='item'>
          <div class='image'>
            <img src='pictures/me.jpg'>
          </div>
          <div class='content'>
            <h1 class='ui header'>About me</h1>
            <div class='meta'>
              <h3 class='ui header disabled'>6/23/18</h3>
            </div>
            <div class='description'>
              <h1 class='noweight'>
                I'm Dustin. I'm <u title='<h1>September 13, 2002</h1'>15</u> years old.
                <u title='<h1>Jesus, the Word of God, the Son of God, my Savior</h1>'>Jesus</u> has changed my life,
                I make and record research. I'm a
                <u title='<h1>I make full featured websites</h1>'>Full-Stack</u>
                Web Developer.
              </h1>
            </div>
            <a href='#stuffhere' class='extra'>
              <h4>
                Scroll down
              </h4>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <br>
    <hr class='d-none d-md-block w-75 m-auto'>
    <hr class='d-xs-block d-md-none w-95'>
    <br>
    
    <!--Stuff-->
    <span id='stuffhere'></span>
    <div id='stuff'>
      <div class='row'>
        
        <!--OS-->
        <div class='col col-12 col-md-6'>
          <div class='card w-100'>
            <a href='/os'>
              <img class='card-img-top' src='/pictures/os.PNG' alt='Operating Systems Forum'>
            </a>
            <div class='card-body'>
              <h2 class='card-title'>Code Forum</h2>
              <h3 class='card-text noweight'>
                Full-Stack <u title='<h1>Online conversation</h1>'>forum</u> for talking about Operating Systems or
                looking at fancy <u title="<h1>I've got a nice bar chart!</h1>">charts</u>!
              </h3>
              <a href='/os' class='btn btn-success'>
                <h2>
                  Go there
                </h2>
              </a>
            </div>
          </div>
        </div>
        
        <!--Portfolio-->
        <div class='col col-12 col-md-6'>
          <div class='card w-100 bg-dark'>
            <a href='/portfolio'>
              <img class='card-img-top' src='/pictures/portfolio.PNG' alt='Portfolio'>
            </a>
            <div class='card-body'>
              <h2 class='card-title white_text'>Web Portfolio</h2>
              <h3 class='card-text noweight white_text'>
                My Full-Stack, junior Web Development <u title='<h1>An interactive resume</h1>'>portfolio</u>, with links.
              </h3>
              <a href='/portfolio' class='btn btn-danger'>
                <h2>
                  Take me
                </h2>
              </a>
            </div>
          </div>
        </div>
        
        <!--Ebooks-->
        <div class='col col-12 col-md-6'>
          <div class='card w-100'>
            <a href='/ebooks'>
              <img class='card-img-top' src='/pictures/ebooks.PNG' alt='Ebooks'>
            </a>
            <div class='card-body'>
              <h2 class='card-title'>Ebooks</h2>
              <h3 class='card-text noweight'>
                My <u title="<h1>My first one is: Dustin's Research</h1>">Ebooks!</u> Read them!
              </h3>
              <a href='/ebooks' class='btn btn-warning'>
                <h2>
                  Yes Diggity
                </h2>
              </a>
            </div>
          </div>
        </div>
        
        <!--Games-->
        <div class='col col-12 col-md-6'>
          <div class='card w-100'>
            <a href='/games'>
              <img class='card-img-top' src='/pictures/games.PNG' alt='A couple little animations'>
            </a>
            <div class='card-body'>
              <h2 class='card-title'>Games</h2>
              <h3 class='card-text noweight'>
                Some <u title="<h1>they're pretty small</h1>">compact</u> games to play
              </h3>
              <a href='/games' class='btn btn-primary'>
                <h2>
                  Go now
                </h2>
              </a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
  
<% include ../partials/footer.ejs %>