<% include ../partials/header.ejs %>

<!--external-->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="/stylesheets/animate.css">
<link href="https://fonts.googleapis.com/css?family=Exo|IBM+Plex+Mono|Lobster|Pangolin|Play|Russo+One|Titan+One" rel="stylesheet">

<!--internal-->
<link type="text/css" rel="stylesheet" href="/stylesheets/index.css">
<script type="text/javascript" src="/scripts/index.js"></script>

<!--landing section-->
<div id="landing" class="nonebox">
  
  <!--show this on large+ devices-->
  <div id="landing_lgplus" class="lgplus nonebox">
    
    <div id="landing_statstacotext" class="nonebox">
      
      <!--the stats-->
      <div class="landing_stats" class="nonebox">
        <div class="landing_stats_views" class="nonebox">
          <p class="landing_stats_views_text" class="nonebox">
            Views: <span class="landing_stats_views_count"><%= page.views %></span>
          </p>
        </div>
        <form class="like-form" action="/index/like" method="POST">
          <button href="#" class="landing_stats_likes" class="nonebox">
            <p class="landing_stats_likes_text" class="nonebox">
              Likes: <span class="landing_stats_likes_count"><%= page.likes %></span>
            </p>
            <p class="landing_stats_likes_info">
              (click to like this page!)
            </p>
          </button>
        </form>
      </div>
      
      <!--the taco-->
      <div class="landing_taco" class="nonebox">
        <img src="http://pixelartmaker.com/art/c2825a310898079.png">
        <img src="http://www.emoji.co.uk/files/phantom-open-emojis/food-drink-phantom/12570-burrito.png">
        <img src="http://producemomentum.com/wp-content/uploads/2015/11/The-Whole-Enchilada.png">
        <img src="https://vignette.wikia.nocookie.net/clubpenguin/images/1/12/FestiveSombrero.png">
      </div>
      
      <!--the text-->
      <div class="landing_text" class="nonebox">
        <p class="landing_text_text">
          Hi! I'm Dustin, I love Jesus, I'm 15. Scroll down for more webpages, social media,
          info, all dat stuff!
        </p>
      </div>
      
    </div>
    
    <!--the arrows-->
    <div class="landing_arrows" class="nonebox">
      <p class="landing_arrow landing_arrows_0">V</p>
      <p class="landing_arrow landing_arrows_1">V</p>
      <p class="landing_arrow landing_arrows_2">V</p>
      <p class="landing_arrow landing_arrows_3">V</p>
      <p class="landing_arrow landing_arrows_4">V</p>
    </div>
    
  </div>
  
  
  
  <!--show this on medium- devices-->
  <div id="landing_mdminus" class="mdminus nonebox">
    
    <!--the stats and taco-->
    <div id="landing_statstaco" class="nonebox">
      
      <!--the stats-->
      <div class="landing_stats" class="nonebox">
        <div class="landing_stats_views" class="nonebox">
          <p class="landing_stats_views_text" class="nonebox">
            Views: <span class="landing_stats_views_count"><%= page.views %></span>
          </p>
        </div>
        <form class="like-form" action="/index/like" method="POST">
          <button href="#" class="landing_stats_likes" class="nonebox">
            <p class="landing_stats_likes_text" class="nonebox">
              Likes: <span class="landing_stats_likes_count"><%= page.likes %></span>
            </p>
            <p class="landing_stats_likes_info">
              (click to like this page!)
            </p>
          </button>
        </form>
      </div>
      
      <!--the taco-->
      <div class="landing_taco" class="nonebox">
        <img src="http://pixelartmaker.com/art/c2825a310898079.png">
        <img src="http://www.emoji.co.uk/files/phantom-open-emojis/food-drink-phantom/12570-burrito.png">
        <img src="http://producemomentum.com/wp-content/uploads/2015/11/The-Whole-Enchilada.png">
        <img src="https://vignette.wikia.nocookie.net/clubpenguin/images/1/12/FestiveSombrero.png">
      </div>
    </div>
    
    <!--the text and arrows-->
    <div id="landing_textarrows" class="nonebox">
      
      <!--the text-->
      <div class="landing_text" class="nonebox">
        <p class="landing_text_text">
          Hi! I'm Dustin, I love Jesus, I'm 15. Scroll down for more webpages, social media,
          info, all dat stuff!
        </p>
      </div>
      
      <!--the arrow-->
      <div class="landing_arrows" class="nonebox">
        <p class="landing_arrow landing_arrows_0">V</p>
        <p class="landing_arrow landing_arrows_1">V</p>
        <p class="landing_arrow landing_arrows_2">V</p>
        <p class="landing_arrow landing_arrows_3">V</p>
        <p class="landing_arrow landing_arrows_4">V</p>
      </div>
      
    </div>
    
  </div>
  
</div>


<% include ../partials/footer.ejs %>