<!DOCTYPE html>
<html lang="en" dir="ltr">
  
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    
    <title>
        Harvest OG
    </title>
    
    <!--external-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="icon" href="https://image.freepik.com/free-icon/christian-cross-symbol_318-48696.jpg"> <!-- https://www.freepik.com/free-icon/christian-cross-symbol_735664.htm -->
    
    <!--internal-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/preferences.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/harvest.css">
    <script type='text/javascript' src='/scripts/harvest.js'></script>
    
  </head>

  <body>
    
    <div class='ui container'>

      <div id='header'>
        
        <div id='header_meta' class='row'>
          <div class='col-3'>
            <img id='header_logo' src='https://static.wixstatic.com/media/0fad45_81b4c54633514c119fc29b34d336f20f.gif'>
          </div>
          <div class='col-9' id='jointimes'>
            <div id='join'>
              JOIN US
            </div>
            <div id='header_times'>
              Sunday @ 10:45am & 6:00pm
              <br>
              Wednesday @ 6:30pm
            </div>
          </div>
        </div>
      
        <div class="ui secondary menu" id='header_menu'>
          <a class="item active navigator" href='#home'>
            Home
          </a>
          <a class="item navigator" href='#about'>
            About
          </a>
          <span class='item'>
            <div class="ui dropdown">
              Ministries
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="header">
                  <i class="mouse pointer icon"></i>
                  Choose one
                </div>
                <div class='divider'></div>
                <div class="item navigator" href='#children'>
                  <img class="emoji_16" src='https://emojipedia-us.s3.amazonaws.com/thumbs/120/facebook/65/baby_1f476.png'>
                  Children
                </div>
                <div class="item navigator" href='#unite'>
                  <img class='emoji_16' src='https://emojipedia-us.s3.amazonaws.com/thumbs/120/facebook/65/boy_1f466.png'>
                  Unite Jr High
                </div>
                <div class="item navigator" href='#youth'>
                  <img class='emoji_16' src='https://emojipedia-us.s3.amazonaws.com/thumbs/120/facebook/65/man_1f468.png'>
                  Youth
                </div>
                <div class='item navigator' href='#women'>
                  <img class='emoji_16' src='https://emojipedia-us.s3.amazonaws.com/thumbs/120/facebook/65/woman_1f469.png'>
                  Women
                </div>
              </div>
            </div>
          </span>
          <a class="item navigator" href='#give'>
            Give
          </a>
          <a class="item navigator" href='#watch'>
            Watch
          </a>
          <div class="right menu">
            <a class="ui item disabled">
              Welcome, Harvestg12_Jesus
            </a>
            <a class="ui item">
              Logout
            </a>
          </div>
        </div>
        
      </div>

      <div id='home' class='section'>
        
        <br><br>
        
        <h1 class='ui header text-center'>
          Welcome!
        </h1>
        
        <div class='d-flex justify-content-around'>
          
          <a class='ui button big red' href='http://my.simplegive.com/dl/?uid=harvpo152t7'>
            Donate Now
          </a>
          
          <a class='ui button big teal' href='http://www.ustream.tv/channel/harvest-assembly-oak-grove-la-live'>
            Live Streaming
          </a>
          
        </div>
        
        <br>
        
        <img src='https://static.wixstatic.com/media/0fad45_567c8706036e45b598dba64dd10d57fa.jpg' class='d-block w-100'>
        
        <br><br>
        
        <div class='row'>
          
          <div class='col-6'>
            
            <div class='ui items'>
              <div class='item'>
                <div class='ui tiny image'>
                  <img src='https://freeiconshop.com/wp-content/uploads/edd/phone-outline.png'>
                </div>
                <div class='content'>
                  <h4 class='ui header'>Call</h4>
                  <div class='description'>
                    Tel: +1 318 428 4597
                    <br>
                    Fax: +1 318 428 4647
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
          <div class='col-6'>
            
            <div class='ui items'>
              <div class='item'>
                <div class='ui tiny image'>
                  <img src='https://www.freeiconspng.com/uploads/iconmonstr-email-4-icon-27.png'>
                </div>
                <div class='content'>
                  <h4 class='ui header'>Contact</h4>
                  <div class='description'>
                    <a href='mailto:haog@bellsouth.net'>
                      haog@bellsouth.net
                    </a>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
        
        <br><br>
        
      </div>
      
      <div id='about' class='section'>
        
        <br><br>
        
        <h1 class='ui header text-right'>
          About Us
        </h1>
        <hr>
        
        <br>
        
        <div class='row'>
          
          <div class='col-4'>
            
            <div class='ui basic sticky segment' id='about_sticky'>
              
              <div class='ui raised segment'>
                
                <h4>
                  Our Services
                </h4>
                
                <hr>
                
                <br>
                Sunday School  @ 9:30 am
                <br>
                Worship @ 10:45 am // 6 p.m.
                <br>
                Wednesday Service  @ 6:30 p.m.
                
              </div>
              
            </div>
            
          </div>
          
          <div class='col-8' id='about_context'>
            
            <div class='ui items'>
              <div class='item'>
                <div class='ui tiny image'>
                  <img src='https://banner2.kisspng.com/20180329/hvw/kisspng-social-media-emoji-facebook-messenger-emoticon-smile-5abc6d6343b687.5257019215222982112774.jpg'>
                </div>
                <div class='content'>
                  <h2 class='ui header'>Welcome</h2>
                  <div class='description'>
                    Welcome to Harvest Assembly! People are being drawn here
                    from all over the surrounding areas. I'm thankful that
                    He is using each of us in special ways to help further
                    His Kingdom. Come to the Lord's house expecting! Open your
                    heart and allow the Holy Spirit to minister to you through
                    His word and His love. Let God's love bear your burdens as
                    you are ministered to today. He is never late with an answer!
                    We look forward to seeing you in one of our services soon! 
                  </div>
                </div>
              </div>
            </div>
            
            <hr><br><br>
            
            <div class='ui stacked segment'>
              <img class='ui small image circular d-block m-auto' src='https://static.wixstatic.com/media/0fad45_378c0480967b410a85312068bf7dc10f.jpg/v1/fill/w_251,h_296,al_c,q_80,usm_0.66_1.00_0.01/0fad45_378c0480967b410a85312068bf7dc10f.webp'>
              <h3 class='ui header text-center'>
                Senior Pastor Bill & Lynn Bearden
                <br>
                2004 - present
              </h3>
              <em>
                Pastor Bill Bearden has served as the Senior Pastor
                of Harvest Assembly since May 2004. He and his
                wife Lynn Bearden have been used mightily in this
                region and around the world to advance the Kingdom.
                Prior to coming to Oak Grove, Pastor Bearden had
                Pastored other churches, growing congregations
                from fewer than 27 to over 500 in a few short years
                under the annointing of the Holy Spirit. He currently
                serves various postions within the community along
                with across the state. Pastor Bearden has been in
                ministry for over 30 years working to advance the Kingdom.
                Join him on Sundays and Wednesday or Watch Him Live on
                our weekly broadcast. 
              </em>
            </div>
            
            <br><br><br>
            
            <div class='ui stacked segment'>
              <img class='ui small image circular d-block m-auto' src='https://static.wixstatic.com/media/d7e70f_ac48a837f8f24522b56c3033abf89776~mv2_d_2448_3264_s_4_2.jpg/v1/crop/x_0,y_180,w_2448,h_2904/fill/w_226,h_269,al_c,q_80,usm_0.66_1.00_0.01/d7e70f_ac48a837f8f24522b56c3033abf89776~mv2_d_2448_3264_s_4_2.webp'>
              <h3 class='ui header text-center'>
                Callie Bruce - Women's Director/College Ministry
                <br>
                2011 - present
              </h3>
              <em>
                Callie Bruce came on staff full-time May of 2014.
                Prior to full-time ministry, she was an educator
                in the public school system while serving as
                part-time Children's Minister here at Harvest.
                Callie now serves as the full-time Women's Director
                and College Ministry Director.
              </em>
            </div>
            
            <br><br><br>
            
            <div class='ui stacked segment'>
              <img class='ui small image circular d-block m-auto' src='https://static.wixstatic.com/media/d7e70f_9fcb9cfcb24c4234b7a503147eba4f6e~mv2.jpg/v1/fill/w_226,h_261,al_c,lg_1,q_80/d7e70f_9fcb9cfcb24c4234b7a503147eba4f6e~mv2.webp'>
              <h3 class='ui header text-center'>
                Children's Pastor Dustin and Hannah Clements
                <br>
                2016 - present
              </h3>
              <em>
                Dustin and Hannah Clements came on staff November
                of 2016.  Pastor Dustin and Hannah met in March
                of 2012 and married May 18, 2013. Their daughter
                Hartley was born July 20, 2015. Our kids today
                are hit from all sides with things that are hard
                to handle. Pastor Dustin works to equip Kids to
                be able to handle the hard times by turning to
                Jesus as their strength. His focus is to minister
                to the child's whole family. His passion is to
                get down in the trenches and battle the enemy
                with them and show God's love above all else.
              </em>
            </div>
            
            <br><br><br>
            
            <div class='ui stacked segment'>
              <img class='ui small circular image d-block m-auto' src='https://static.wixstatic.com/media/956d5a_22726b877d164145a46b9b595545e641~mv2.jpg/v1/crop/x_213,y_0,w_536,h_632/fill/w_239,h_283,al_c,q_80,usm_0.66_1.00_0.01/956d5a_22726b877d164145a46b9b595545e641~mv2.webp'>
              <h3 class='ui header text-center'>
                Joseph and Brittany Wilson - Youth Pastor
                <br>
                2016 -  Present
              </h3>
              <em>
                Joseph and Brittany Wilson came on staff
                September of 2016. Pastor Joe attended SUM
                Bible College and Theological Seminary graduating
                in June of 2015 with a BA in Biblical Theology
                and also became Licensed with the Assemblies of God.
                Joe and Brittany met September of 2014 and married
                June 2016 at Harvest Assembly. Brittany was a student
                in Lifeline Uth during her junior high and high
                school years. We believe that during the junior
                high and high school years, students are beginning to
                find their identity that will define them for the
                rest of their lives. We as their Pastors want
                to help them find their Identity in Christ and help
                equip them with the tools they need to overcome the
                enemy during junior high, high school, and for the
                rest of their lives!! 
              </em>
            </div>
            
          </div>
          
        </div>
        
      </div>
      
      <div id='children' class='section'>
        
        <br><br>
        
        <div class="ui info message">
          <i class="close icon"></i>
          <h2 class="header">
            We run BGMC!
          </h2>
          <ul class="ordered list">
            <li>Fill up your <b>buddy barrels</b></li>
            <li>Bring to Kidz church!</li>
          </ul>
          <h3 class='text-center'>
            Click to Visit BGMC <i class="arrow alternate circle down icon"></i>
          </h3>
          <a href='https://bgmc.ag.org'>
            <img class='ui medium image d-block m-auto' src='https://static.wixstatic.com/media/70c8bf_3419953d60a04153b74c6b3ae6830b8f~mv2.jpg'>
          </a>
        </div>
        
        <div class='ui items'>
          
          <div class='item'>
            <div class='ui medium image'>
              <img src='https://static.wixstatic.com/media/d7e70f_87874b5b977648a482dce056ad5b4ae3~mv2.jpg/v1/fill/w_459,h_294,al_c,lg_1,q_80/d7e70f_87874b5b977648a482dce056ad5b4ae3~mv2.webp'>
            </div>
            <div class='content'>
              <p class='ui huge header'>Kidz</p>
              <div class='ui description noweight'>
                Harvest Kids Live is a Weekly Sunday Morning
                10:45 High Energy Spirit Filled Service for
                Kids Ages 5-10 years old
              </div>
            </div>
          </div>
          
          <br>
          
          <div class='item'>
            <div class='content'>
              <p class='ui huge header d-block text-right'>Missionettes &nbsp&nbsp</p>
              <div class='ui description noweight'>
                Missionettes meet every Wednesday night @
                6:30. We have five clubs: Rainbows 
                3 class, Rainbows 4/5, Prims (1st & 2nd),
                Stars (3rd & 4th) and Friends Club (5th & 6th).
                Our girl's clubs work to earn badges, go
                on monthly outings, have sleepovers, and attend
                Missionette Camp.
              </div>
            </div>
            <div class='ui medium image'>
              <img src='https://static.wixstatic.com/media/0fad45_de182243fdb34ebea4af192f6140fe68~mv2.jpg/v1/fill/w_413,h_173,al_c,q_80,usm_0.66_1.00_0.01/0fad45_de182243fdb34ebea4af192f6140fe68~mv2.webp'>
            </div>
          </div>
          
          <br>
          
          <div class='item'>
            <div class='ui medium image'>
              <img src='https://static.wixstatic.com/media/0fad45_5581445d5944452a8e536cff8b725720~mv2.jpg/v1/fill/w_413,h_283,al_c,q_80,usm_0.66_1.00_0.01/0fad45_5581445d5944452a8e536cff8b725720~mv2.webp'>
            </div>
            <div class='content'>
              <p class='ui huge header'>Royal Rangers</p>
              <div class='ui description noweight'>
                Royal Rangers meet every Wednesday night
                @ 6:30 next door to the church in the
                Ranger Outpost. We have two clubs: Ranger
                Kids (1st-3rd) and Discovery Rangers
                (4th-6th). Our boy's clubs learn skills
                like knot tying, camping and outdoor
                life, and scripture to apply to everyday
                life. Earning badges is a big part of
                Royal Rangers and everyone loves to go
                camping.
              </div>
            </div>
          </div>
          
          <br>
          
          <div class='item'>
            <div class='content'>
              <p class='ui huge header d-block text-right'>Wee Worship &nbsp&nbsp</p>
              <div class='ui description noweight'>
                Our little ones, ages 3 & 4, have their
                own special service as well. Each Sunday
                at 10:45 and at 6:00 they meet in the
                Children's Ministry Building. We are
                very excited about the hands on
                learning of God's word that takes place
                each Sunday.
              </div>
            </div>
            <div class='ui medium image'>
              <img src='https://static.wixstatic.com/media/0fad45_d8df37cde13c41a68aaea5cad4f723fc.png/v1/fill/w_263,h_192,al_c,lg_1/0fad45_d8df37cde13c41a68aaea5cad4f723fc.png'>
            </div>
          </div>
          
        </div>
        
      </div>
      
      <div id='unite' class='section'>
        
        <div></div>
        
      </div>
      
      <div id='youth' class='section'>
        Youth
      </div>
      
      <div id='women' class='section'>
        Women
      </div>
      
      <div id='give' class='section'>
        Give
      </div>
      
      <div id='watch' class='section'>
        Watch
      </div>
      
      <div id='footer'>
        
        <div id='footer_call'></div>
        
      </div>
      
    </div>
    
  </body>

</html>