/* sizing and offset navbar */
html, body {
  /* variables */
  --primary-theme-color: #333333;
  --secondary-theme-color: #ffffff;
  --tertiary-theme-color: #eeeeee;
  --quarternary-theme-color: #b22501;
  --bottom-color: #aaaaaa;
  /* sizing */
  width: 100%;
  height: 100%;
  /* coloring */
  background-color: var(--primary-theme-color);
  color: var(--secondary-theme-color);
  /* positioning */
  position: absolute;
}



/*helper "nonebox" class*/
.nonebox {
  margin: 0; border: 0; padding: 0;
}
/*helper "lgplus" class*/
@media (max-width: 991px) {
  .lgplus {
    display: none;
  }
}
@media (min-width: 992px) {
  .mdminus {
    display: none;
  }
}






/*

  landing

*/

/*the taco + the image inside of the taco!*/
.landing_taco {
  display: flex; justify-content: center; align-items: center;
}
.landing_taco > img {
  max-width: 100%; max-height: 100%;
}

/*the stats!*/
/*stats container*/
.landing_stats {
  display: flex; justify-content: flex-start; align-items: space-between;
}
/*likes*/
.landing_stats_views {
  
  background-color: #ff2222;
}
.landing_stats_views_text {
  font-size: 2.0vw;
}


/*the landing section on large+ screens*/
@media (min-width: 992px) {
  
  /*the everything wrapper*/
  #landing_lgplus {
    width: 99vw;
    display: flex; justify-content: flex-start; flex-wrap: wrap;
  }
  /*the stats, taco, and text wrapper*/
  #landing_statstacotext {
    width: 80vw; height: 90vh;
    display: flex; justify-content: flex-start; flex-wrap: wrap;
  }
  /*the stats*/
  .landing_stats {
    width: 30vw; height: 60vh;
  }
  /*the taco*/
  .landing_taco {
    width: 50vw; height: 60vh;
  }
  /*the text*/
  .landing_text {
    width: 80vw; height: 30vh;
    background-color: white;
  }
  /*the arrows*/
  .landing_arrows {
    width: 19vw; height: 90vh;
    background-color: blue;
  }
  
}

/*the landing sextion on medium minus screens*/
@media (max-width: 991px) {
  /*the stats and taco*/
  #landing_statstaco {
    width: 99vw;
    display: flex; justify-content: flex-start;
  }
  .landing_stats {
    width: 75vw; height: 50vh;
    position: absolute; z-index: 2;
    opacity: 0.5;
  }
  .landing_taco {
    width: 99vw; height: 50vh;
  }
  #landing_textarrows {
    width: 99vw;
    display: flex; justify-content: flex-start;
  }
  .landing_text {
    width: 75vw; height: 50vh;
    background-color: indigo;
  }
  .landing_arrows {
    width: 24vw; height: 50vh;
    background-color: white;
  }
}