/* sizing and offset navbar */
html, body {
  /* variables */
  --primary-theme-color: #333333;
  --secondary-theme-color: #ffffff;
  --tertiary-theme-color: #eeeeee;
  --quarternary-theme-color: #b22501;
  --bottom-color: #aaaaaa;
  /* sizing */
  width: 100%;
  height: 100%;
  /* coloring */
  background-color: var(--primary-theme-color);
  color: var(--secondary-theme-color);
  /* positioning */
  position: absolute;
}



/*helper "nonebox" class*/
.nonebox {
  margin: 0; border: 0; padding: 0;
}
/*helper "lgplus" class*/
@media (max-width: 991px) {
  .lgplus {
    display: none;
  }
}
@media (min-width: 992px) {
  .mdminus {
    display: none;
  }
}
/*helper "disabled" class*/
.disabled {
  background-color: #444444 !important;
  cursor: not-allowed;
}
/*preferences*/
.like-form {
  margin: 0; border: 0; padding: 0;
  width: 100%;
}






/*

  landing

*/

/*the taco + the image inside of the taco!*/
.landing_taco {
  display: flex; justify-content: center; align-items: center;
}
.landing_taco > img {
  max-width: 100%; max-height: 100%;
}

/*the stats!*/
/*stats container*/
.landing_stats {
  display: flex; justify-content: space-around; flex-direction: column; align-items: flex-start;
}
/*likes*/
.landing_stats_likes {
  width: 90%;
  padding-top: 2%;
  background-color: #bb00ff;
  border-radius: 0% 30px 30px 0%;
  display: block;
}
.landing_stats_likes_text, .landing_stats_likes_info {
  margin: 0 auto 2% auto;
  width: 90%;
  color: white;
  text-align: center;
}
.landing_stats_likes_info {
  font-size: 2.0vw;
}
/*views*/
.landing_stats_views {
  width: 90%;
  display: flex; justify-content: center; align-items: center;
  background-color: #ff2222;
}
/*both! :D*/
.landing_stats_views_text, .landing_stats_likes_text {
  width: 80%;
  color: white;
  text-align: center;
  font-size: 4.0vw;
}

/*the arrows*/
.landing_arrows {
  display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
}
.landing_arrow {
  width: 100%;
  color: #f48642;
  text-align: center;
  font-size: 5.0vw;
}

/*the text*/
.landing_text {
  display: flex; justify-content: center; align-items: center;
}
.landing_text_text {
  margin: auto;
  width: 80%;
  color: white;
}

/*the landing section on large+ screens*/
@media (min-width: 992px) {
  
  /*the everything wrapper*/
  #landing_lgplus {
    width: 99vw;
    display: flex; justify-content: flex-start; flex-wrap: wrap;
  }
  /*the stats, taco, and text wrapper*/
  #landing_statstacotext {
    width: 80vw; height: 90vh;
    display: flex; justify-content: flex-start; flex-wrap: wrap;
  }
  /*the stats*/
  .landing_stats {
    width: 30vw; height: 60vh;
  }
  /*the taco*/
  .landing_taco {
    width: 50vw; height: 60vh;
  }
  /*the text*/
  .landing_text {
    width: 80vw; height: 30vh;
  }
  .landing_text_text {
    font-size: 3.0vw;
  }
  /*the arrows*/
  .landing_arrows {
    width: 18vw; height: 90vh;
  }
  
}

/*the landing sextion on medium minus screens*/
@media (max-width: 991px) {
  /*the stats and taco*/
  #landing_statstaco {
    width: 99vw;
    display: flex; justify-content: flex-start;
  }
  /*the stats*/
  .landing_stats {
    width: 75vw; height: 50vh;
    position: absolute; z-index: 2;
  }
  .landing_stats_views_text, .landing_stats_likes_text {
    font-size: 7.0vw;
  }
  .landing_stats_likes_info {
    font-size: 4.0vw;
  }
  /*the taco*/
  .landing_taco {
    width: 99vw; height: 50vh;
  }
  /*the text and arrows*/
  #landing_textarrows {
    width: 99vw;
    display: flex; justify-content: flex-start;
  }
  /*the text*/
  .landing_text {
    width: 75vw; height: 40vh;
  }
  .landing_text_text {
    font-size: 6.0vw;
  }
  /*the arrows*/
  .landing_arrows {
    width: 22vw; height: 40vh;
  }
}