/*
  Helper Stuff
*/
/*to make all the stuff fit just like I want*/
html, body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}
/*overrides for inconvenient bootstrap*/
.row {
  max-width: 100%;
}
/*w-95 class for cards*/
.w-95 {
  width: 95%;
}


/*
  header
*/
#header {
  background-color: white !important;
}
.header-item {
  margin-right: 5vw;
  cursor: pointer;
}
@media (max-width: 991px) {
  .header-item {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}



/*
  content
*/
#content {
  margin: 0;
  border: 0;
  padding: 0; padding-top: 10vh;
}






/*
  topics
*/
/*List*/
#topic-display {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/*Navigation*/
#topics_navigation {
  overflow: auto;
}
.topics_navigation {
  cursor: pointer;
}
/*topicConversation*/
.c {
  margin-top: 5vh;
  border: 5px solid black;
  padding: 0;
  display: block;
}
.c_title {
  margin: 0;
  border: 0; border-bottom: 5px solid black;
  padding: 0;
  width: 100%;
  height: 20%;
  background-color: #eeeeee;
  overflow: auto;
  cursor: pointer;
}
.c_content {
  padding: 10px;
  width: 100%;
  height: 60%;
  overflow: auto;
  cursor: pointer;
}
.c_stats {
  margin: 0;
  border: 0; border-top: 5px solid black;
  padding: 0;
  width: 100%;
  height: 20%;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.c_stats > div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .c {
    width: 95%;
    height: 70vh;
  }
}
@media (min-width: 768px) {
  .c {
    width: 48%;
    height: 60vh;
  }
}
@media (min-width: 992px) {
  .c {
    width: 24%;
    height: 50vh;
  }
}
/*Voting*/
.voteform {
  text-align: center;
}
.vote_info {
  display: inline;
}
/*Modal*/
.deep {
  background-color: white;
  max-width: 90%;
  height: 95%;
}
.modal-header {
  border: 0;
}
.modal-header-content {
  padding: 2%;
}
.modal-header-text {
  border-bottom: solid 1px #e9ecef;
}
.modal-content {
  height: 95%;
}
.modal-body {
  height: 95%;
  overflow: auto;
}



/*chart*/
#stats {
  margin: auto;
  width: 99vw;
  height: 100vh;
  position: relative;
}
#myChart {
  margin: auto;
  display: block;
}