/* boilerplate */
html, body {
  /* sizing */
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* positioning */
  margin: 0;
}

/*menu*/
#menu {
  width: auto;
}

/*topics*/
#topics-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.topic {
  width: 45%;
}