<html>
  <head>
    <!--This is gonna get weird-->
    <!--JAVASCRIPT - jQuery 3.3.1-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--JAVASCRIPT - Popper 1.12.8-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!--JAVASCRIPT - Bootstrap 4.0.0-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--JAVASCRIPT - Semantic UI 2.3.1-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <!--JAVASCRIPT - Anime-->
    <script src="/scripts/anime.min.js"></script>
    <!--CSS - Bootstrap 4.0.0-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--CSS - Semantic UI 2.3.1-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <!--CSS - Unicorn UI-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/buttons.css">
    <!--CSS - animate-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <!--CSS - shake-->
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
    
    <!--our stuff-->
    <script src="/scripts/everything.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/helper.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/everything.css">
  </head>
  <body>
    
    <!--oh boi...-->
    
    <!--audio-->
    <audio id="youneedJesus" controls preload="auto">
      <source src="/audio/webelongasone.mp3" type="audio/mp3">
      <p>Your browser doesn't support HTML5 audio.</p>
    </audio>
    
    <!--phase 0-->
    <div id="p0" class="phase">
      <div id="p0_container" class="full">
        <div id="p0_square" class="square-viewport">
          <h1 class="text-center black_text text-center wide" style="font-size: 4.0rem;">
            Dustin West
          </h1>
          <p class="text-center red_text text-center wide" style="font-size: 4.5rem;">
            This. Is. Everything.
          </p>
          <a id="p0_continue" class="button button-giant button-3d button-caution d-block w-75">
            Start
          </a>
        </div>
      </div>
    </div>
    
    <!--phase 1-->
    <div id="p1" class="phase">
      <div id="p1_container" class="full">
        <div id="p1_square" class="square-viewport">
          <div id="p1_mini1">
            <canvas id="p1_canvas1"></canvas>
          </div>
          <div></div>
          <div></div>
          <div></div>
          <div id="p1_main">
            <h1 class="text-center black_text text-center wide" style="font-size: 4.0rem;">
              Dustin West
            </h1>
            <p class="text-center red_text text-center wide" style="font-size: 4.5rem;">
              This. Is. Everything.
            </p>
            <a id="p1_continue" class="button button-giant button-3d button-caution d-block w-75">
              Start
            </a>
          </div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    
  </body>
</html>