<% include ../partials/header.ejs %>

<!--external-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<!--internal-->
<link rel="stylesheet" type="text/css" href="stylesheets/games.css">
<script type="text/javascript" src="scripts/games.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/helper.css">

<br>
<div id="header" class="row w-100">
  <div id="prev" class="arrow col-3">
    <i class="fa fa-arrow-left"></i>
  </div>
  <div class="col-6">
    <h1 id="currentGame" class="text-center"></h1>  
  </div>
  <div id="next" class="arrow col-3">
    <i class="fa fa-arrow-right"></i>
  </div>
</div>


<!--







I. Love. Jesus.







-->




<div id="canvas_container" class="m-auto">
  <canvas class="block" id="triangles_1"></canvas>
  <canvas class="block" id="balls_1"></canvas>
  <canvas class="block" id="circles_1"></canvas>
  <canvas class="block" id="confetti_1"></canvas>
</div>

<% include ../partials/footer.ejs %>