<link type="text/css" rel="stylesheet" href="stylesheets/loginregister.css"></link>

<form id="form" action="/register" method="POST">
	
  <p id="form-title">
    Register
  </p>
  
  <div class="input-group">
    <p class="form-input-label">
      Username:
    </p>
    <input name="username" type="text" class="form-control" aria-label="username" placeholder="username">
  </div>
  
  <br>
  
  <div class="input-group">
    <p class="form-input-label">
      Email:
    </p>
    <input name="email" type="email" class="form-control" aria-label="email" placeholder="email">
  </div>
  
  <br>
  
  <div class="input-group">
    <p class="form-input-label">
      Password:
    </p>
    <input name="password" type="password" class="form-control" aria-label="password" placeholder="password">
  </div>
  
  <br>
  
  <div class="input-group">
    <p class="form-input-label">
      Password Again:
    </p>
    <input name="password_again" type="password" class="form-control" aria-label="password" placeholder="password">
  </div>
  
  <br>
  
  <button class="d-block w-25 m-auto btn btn-secondary">
    Register
  </button>
	
</div>