<% include ../../partials/header.ejs %>

<!--external-->
<link rel="stylesheet" href="/stylesheets/tippy.css">
<script type="text/javascript" src="/scripts/tippy.all.js"></script>
<link href="https://fonts.googleapis.com/css?family=Allan|Averia+Serif+Libre:400,700|Baloo+Paaji|Bowlby+One|Karla|Lobster|Oswald:200|Poppins:200i|Roboto+Mono:300|Satisfy" rel="stylesheet">

<!--internal-->
<link rel="stylesheet" href="/stylesheets/book.css">
<script type="text/javascript" src="/scripts/book.js"></script>
<script type="text/javascript" src="/scripts/dr.js"></script>

    <!-- top bar -->
    <div class="top-bar">
      <div class="top-bar_back">
        <a href="/ebooks">
          Back to Ebooks
        </a>
      </div>
      <div class="top-bar_title">
        <a href="#">
          Dustin's Research
        </a>
      </div>
      <div class="top-bar_buy">
        <a href="/ebooks/dr/buy">
          <span class="fa fa-dollar-sign"></span>
          -Buy
        </a>
      </div>
    </div>



    <!-- index -->
    <div class="index">
      <div class="row">
        <div class="col-12">
          <div class="list-group" id="list-tab" role="tablist">

            <a
            title="This is the introductory chapter!"
            href="#introduction_content"
            id="introduction_a"
            aria-controls="introduction"
            data-toggle="list"
            role="tab"
            class="list-group-item list-group-item-action active">
              Introduction
            </a>

            <a
            title='Chapter on "intelligence"'
            href="#intelligence_content"
            id="intelligence_a"
            aria-controls="intelligence"
            data-toggle="list"
            role="tab"
            class="list-group-item list-group-item-action">
              "Intelligence"
            </a>

            <a
            title="Chapter on patterns!"
            href="#patterns_content"
            id="patterns_a"
            aria-controls="patterns"
            data-toggle="list"
            role="tab"
            class="list-group-item list-group-item-action">
              Patterns!
            </a>

            <a
            title="Thoughts, Review, and Critical Thinking of Avengers: Infinity War"
            href="#avengersinfinitywar_content"
            id="avengers_infinitywar_a"
            aria-controls="avengersinfinitywar"
            data-toggle="list"
            role="tab"
            class="list-group-item list-group-item-action">
              Avengers: Infinity War
            </a>

            <a
            title="Keep Pushing Forward"
            href="#keeppushingforward_content"
            id="keeppushingforward_a"
            aria-controls="keeppushingfoward"
            data-toggle="list"
            role="tab"
            class="list-group-item list-group-item-action">
              Keep Pushing Foward
            </a>

          </div>
        </div>
      </div>
    </div>



    <!-- content -->
    <div class="content">
      <div class="tab-content" id="nav-tabContent">

        <!-- Introduction -->
        <div id="introduction_content"
        aria-labelledby="introduction_a"
        class="tab-pane fade show active"
        role="tabpanel">

          <p class="title1">
            Introduction to Dustin's Research! :D
          </p>
          <br>
          <p class="info">
            Dustin West <br>
            Started 5/11/18
          </p>
          <br>
          <p class="pnormal">
            This book is a collection of my research and
            personal experience, organized into chapters
          </p>
          <br>
          <p class="pnormal">
            In "Intelligence", I cover Rick and Morty, Doctor Who, and personal
            evidence...
          </p>
          <br>
          <p class="pnormal">
            In Patterns! I talk about gaming strategies, chat
            interactions, and critical thinking...
          </p>
          <br>
          <p class="pnormal">
            In Avengers: Infinity War, I give my insight and entire mindset
            throughout each phase of the movie, and expand upon it's most
            powerful truths.
          </p>
          <br>
          <p class="pnormal">
            In Keep Pushing Forward, just read it.
          </p>

        </div>

        <div id="intelligence_content"
        aria-labelledby="intelligence_a"
        class="tab-pane fade show"
        role="tabpanel">

          <p class="title1">
            "Intelligence"
          </p>
          <br>
          <p class="info">
            Dustin West <br>
            Started 5/10/18
          </p>
          <br>
          <p class="title3">
            Basics
          </p>
          <p class="pnormal">
            Up to September of 2017, I used to think I had a level of
            "intelligence" compared to other humans (not animals). Now, I know
            I only have gifts and general blessings. I used to think if I was
            good at critically thinking about computer science (see my ebook),
            it was because of my IQ (measured at 150, doesn't matter to me now)
            or because of my "intelligence", which I used to think was a
            definitive trait that all humans had some level of. Now I think
            all humans only have gifts and blessings. Someone that is seen as
            intelligent may have general blessings so that they excel in
            everything or the gift of wisdom so they still excel in everything.
            Someone that has a mind that is suited to pick up math naturally is
            not "intelligent", but rather gifted.
          </p>
          <br>
          <p class="title3">
            Origins
          </p>
          <p class="pnormal">
            I used to look at our God-given and Jesus-enhanced gifts
            differently. One night, while driving, I was thinking about my
            brother, who is creative and has wisdom, and was thinking of how
            "intelligent" he is. I gave a small speech in my mind about how
            "intelligent" he was, and as soon as the word "intelligent" rolled
            off my mental lips, the Holy Spirit quickened my spirit to not
            call my brother "intelligent" as I was calling him. I then decided
            to never call anything "intelligent" in the means that they are
            generally better than anybody else, ever again. Now I use more
            accurate terms, "gifted" and "blessed". Since then, I've realized
            God lifting me up and taking my life to beyond the top, and the
            other benefits mentioned in the parts below.
          </p>
          <br>
          <p class="title3">
            Women
          </p>
          <p class="pnormal">
            I used to look at everyone as either amazing or not, because they
            had some level of "intelligence" >= me or < me. Now I see everyone
            as equals, I am no respector of persons, and I ask questions to
            everyone, specific to what I can learn from them. It used to be
            that I didn't know what I was going to do if I dated a girl more
            "intelligent" than me, but now I realize if a woman is more gifted
            or generally blessed than me, that's their chosen life by God,
            their state of mind, and I've found peace with that.
          </p>
          <br>
          <p class="title3">
            Rick and Morty
          </p>
          <p class="pnormal">
            Rick and Morty was more subtle with the "intelligent" game than
            Doctor who, but I still disbelieve and don't watch or think with
            the show any more. In the show Rick and Morty, the main character
            is supposed to be "the smartest mammal in the galaxy", which I
            disagree with. From observing him, Rick is more than likely blessed
            with wisdom and generally blessed, not really having more skill
            in one area than another, but being generally blessed, almost like
            I am. We both pick up things quick, tend to be able to think about
            a lot of things at once, think critically about computer science,
            and detect and use patterns. However, where we differ is Rick is
            still in his fallen, drunken, confused, lustful, dark, cramped
            state. I'm in a light-filled, clear, pure, and expanded state where
            my mind has more areas to it, my thinking is clearer, my opinions
            are stronger, and I am generally blessed in every area of my life.
            There are three things that stop me from watching Rick and Morty
            or learning from him/considering him a role model: the
            "intelligence" game they play, the fallen state Rick is in, and the
            overall repulsiveness of the show (vulgarity, nudity, depravity,
            depression, worldly everything). Rick's mind is cramped while mine
            is expanded, his is confused while mine is clear, and while we are
            both generally blessed, my blessings are stronger and worth more.
            Because Rick doesn't have Jesus, he has less than nothing, but
            because I do have Jesus, I have more than everything. I like to
            think of Rick as someone who will solve a spacial math problem
            just to survive being shot by aliens and then never think about it
            again and hardly be able to stand the stress of thinking because
            he feels terrible and doesn't have any joy or peace or happiness.
            I solve my problems and remember them and think about other things
            at the same time, and add another area of my mind, and assign
            feelings and set up stuff for ease of use next time I think about
            it, ... etc.
          </p>
          <br>
          <p class="title3">
            Doctor Who
          </p>
          <p class="pnormal">
            Doctor Who has a big mind but wrong. Doctor Who could roll like me,
            expanded mind? it's a gift. Super mental powers? For Jesus. But
            instead, Doctor Who is portrayed as a complicated, hateful, sad,
            dark, empty individual. Doctor Who is like me in the respects that
            we both have expansive minds and the ability to multitask and like
            it. However, Doctor Who with his own words describes himself and
            all the gifts he has as being his own "intelligence" and is seen in
            the entirety of the show solving all of his problems off of his own
            strength and "intelligence". I disagree with, don't think with, and
            don't watch Doctor Who.
          </p>
          <br>
          <p class="title3">
            Evidence
          </p>
          <p class="pnormal">
            5 things have improved my life and still do to unlimited potential,
            from glory to glory. Reading and believing in the entirety of the
            NIV Bible, being baptized, a walk of purity, being filled with the
            Holy Spirit, and Christian mentorship.
          </p>

          <p class="title2">
            Further Thinking:
          </p>
          <oi class="further-thinking">
            <li>What should I add sections about?</li>
          </oi>

        </div>

        <div id="patterns_content"
        aria-labelledby="patterns_a"
        class="tab-pane fade show"
        role="tabpanel">

          <p class="title1">Patterns!</p>
          <br>
          <p class="title3">Chat Interactions</p>
          <p class="pnormal">
            I detect, counter, and scramble patterns 24/7. By what people say
            and the way they say it, also because of the extreme simplicity of
            words on a screen, it's possible to chat critically.
          </p>
          <br>
          <p class="pnormal">
            Some people are new to chat interfaces and are highly detectable,
            some people are experienced with chat interfaces and their chat
            style is detectable. In a big chatroom, the dominants, the ones
            that recieve the most attention, are quickly spotted out because
            of what the lowers say, in 1-1 interactions, a persons's chat skill
            first, then chat patterns, then attitude/attributes can be
            determined. I have seen very few people use this to their
            advantage. In my case, when I want to not be seen as a stereotype,
            I scramble my patterns and say the same things in different ways
            that have no correlation, when I want someone to feel more
            comfortable around me, I use the same common phrases they do, back
            to them, when I want to let someone know I'm open for discussion,
            I choose what I say carefully and use formal speech.
          </p>
          <p class="title3">Gaming</p>
          <p class="pnormal">
            In some games, there is a good mix/ratio of intensity, strategy,
            and skill. Within these games comes complex gameplay where
            patterns are used to effectively play. Here I have notes and
            perspectives on these patterns.
          </p>
          <br>
          <p class="title3">Attitude</p>
          <p class="pnormal">
            By listening to someone online, I can detect and use to my
            advantage their patterns, sometimes. I record, analyze, observe
            (mostly doing simple research about them like their username), and
            analyze attributes about them in order to come to conclusions. I
            have listed some attributes:
            <br>
            Time between clicks, directness, audio quality, intensity of
            clicks, sureness of speech, length of speech, time between speech,
            voice, dialect, quirks, most frequent speech, accent, and also
            plainly what they say.
          </p>
          <br>
          <p class="pnormal">
            Gamer: Often the time between their clicks is short because they
            are able to surely navigate around, their audio quality gives hints
            about how good they could be at games (because it correlates to
            latency which correlates to both skill and a gaming setup quality)
            which therefore can almost eliminate some possibilities about the
            person, their time between speech and also reaction time to other
            speech can help determine how zoned they are, how quick their
            reflexes are, and how often they communicates. Their voice gives
            away age, which helps determine is-gamer probability. Their quirks,
            such as and mostly jokes can determine how involved they probably
            are in a gaming community and also which gaming community. What
            they say and how often they say it is important for the same
            reasons as their quirks.
          </p>
          <br>
          <p class="title3">Minecraft</p>
          <p class="pnormal">
            Minecraft is more simple and therefore easier to detect patterns in
            players. There are two ways to detect someone's skill level and
            play style: mouse movement and character movement. Mouse movement
            displays the player's level of confidence, sureness, aim skill,
            sensitivity settings, and in combination with player movement, can
            help determine play style. Character movement displays the player's
            confidence, experience, complexity, level of gameplay, and play
            style. A noob will usually move their mouse around too much, react
            slowly to juking, move straight forward the whole, and be really
            detectable. A good player can have multiple play styles but the
            most common one is the straight player that plays according to the
            rules, they move their mouse surely, their movements are complex,
            they turn away and turn toward with confidence, and is generally
            detectable. However, there are other play style in minecraft like
            being extremely cheeky, not playing in any way usual, doing random,
            but effective stuff, man those guys are fun.
          </p>
          <br>
          <p class="title3">Brawlhalla</p>
          <p class="pnormal">
            Player skill level can be detected by movement patterns. Better
            players tend to be sure and simple, while worse players tend to be
            spammy and everywhere. However, detecting skill level is simpler
            by looking at the stock instead of the players. So really, this is
            where brawlhalla differs from minecraft, in minecraft, movement is
            highly detectable.
          </p>
          <br>
          <p class="pnormal">
            Players will execute their favored strings or even true combos,
            it's a fact. During a match, it's possible and useful to remember
            every move an opponent makes, find the most prevelant moves,
            compare them with the character's move set, and weigh them with
            bias to determine the opponent's likely moves. For example, from
            the beginning of the match, you record mentally your opponent's
            moves, figure out they like to use dash->signature moves, their
            character has a relatively quick sig execution time, and they seem
            to be a risky player, you can determine they will use dash sigs on
            the ground and counter accordingly.
          </p>

        </div>

        <div id="avengersinfinitywar_content"
        aria-labelledby="patterns_a"
        class="tab-pane fade show"
        role="tabpanel">

          <p class="title1">Avengers: Infinity War</p>
          <p class="highlighted_red">
            me reading this would lessen the punchline of the movie, understand accordingly
          </p>
          <br>
          <p class="info">
            Dustin West <br>
            Written 5/18/18
          </p>
          <br>
          <p class="title3">
            Introduction
          </p>
          <p class="pnormal">
            Avengers Infinity War, pre-watching was supposed to be the greatest and
            latest story-based film with action to keep me zoned in. It delivered.
          </p>
          <br>
          <p class="title3">
            Technology
          </p>
          <p class="pnormal">
            The movie started with Thanos's great combat and I thought of him
            studying and thinking over fights in order to gain his skills.
            It transformed with new tech, new dynamics, and Tony Stark, I thought about
            Operating Systems, does Tony have a different Operating System for every
            device? what programming language does he use? what does romantic love without
            godliness feel like, as portrayed between him and pepper?
          </p>
          <br>
          <p class="title3">
            Critical Thinking
          </p>
          <p class="pnormal">
            I then thought about strategies and critical thinking. How to save doctor strange
            from someone who could penetrate him with shards? The enemy probably set up
            things so if he died, doctor strange would also die, and so it's a hostage
            with a gun to his head, how do we save him? Peter Parker made a good guess
            that disctracting the enemy instead of killing him, would work. It did.
          </p>
          <br>
          <p class="title3">
            Nothing is defined, anything can be possible
          </p>
          <p class="pnormal">
            The movie moved on to a bigger universe. What if Tony Stark was pushing his
            mind to the max his whole life on the off chance that something like
            this would happen, working nonstop to prepare for it? I wanted to come
            home and make a critical thinking course on "humanity is spaceships and
            technology. Operating Systems, design, practical knowledge, nothing is
            preschool math class where you know you can solve the problem and everything
            is safe and your skills are within bounds. Nothing is sure, solve these problems,
            maybe, do your best." course that would get people into the real knowledge
            and awakening that nothing is pre-defined or pre-known by man so that we
            would begin to question and work harder. Such as, why should I stay web development
            when I can study, design, make programming languages and operating systems? I shouldn't
            be solving problems that I know I can solve, I should be solving problems
            that no one knows what will happen.
          </p>
          <br>
          <p class="title3">
            Start of the Real Story
          </p>
          <p class="pnormal">
            The movie progressed to Thanos's real intentions coming out, and also I was
            still passively studying combat and imagining what if doctor strange surrounded himself
            in a box of portals so nothing could get to him except from 6 places in existence.
            Thanos's experience and knowledge were being revealed, as well as the soul stone
            foreshadowing (I don't do foreshadowing, never able to pick it up until the
            first time I really thought critically about something, this movie) that
            he would pay everything. I was now thinking about philosophy.
          </p>
          <br>
          <p class="title3">
            Philosophy
          </p>
          <p class="pnormal">
            Now here is iron man, spider man, and the guardian gang (except the green one)
            fighting thanos. The true definition of Thanos's plan comes out: Kill half
            of the people in the universe at random. But here is our heroes trying
            to preserve the universe in it's current state, which is free will.
            Who is right? No one is right. They are all not God, the true God. When the
            gauntlet is almost off Thanos, it's a quiet struggle of two sides who both
            think they are doing the right thing. Impactful.
          </p>
          <br>
          <p class="title3">
            "End Game"
          </p>
          <p class="pnormal">
            Now the movie progresses on to the "end game" (a character, I forgot who). Thanos defeats the
            heroes, then Thor kills him, but not actually. Thanos activates the gauntlet. Cut scene to
            Thanos and Gommorah walking on water under a tagoda and Thanos has accomplished what
            he thought was right and has admitted to paying everything that mattered to him.
          </p>
          <br>
          <p class="title3">
            Punchline
          </p>
          <p class="pnormal">
            The punchline. Half of everyone in the universe dies at random.
            The closest people to everyone dies, by withering away, in front of them.
            Peter Parker realizes he is going to die, and with seconds to live, begs Iron Man
            to save him because he has no God to trust in. No hope, no knowledge, no trust, no purpose.
            He says, "No, no, please, please save me, please" to a mere human that he realizes will
            never be able to save him and that stares him in his face unable to do anything.
            The movie ends.
          </p>
          <br>
          <ul class="further-thinking">
            <li>
              Did Doctor Strange see it from Thanos's point of view and give him the stone because
              he also thought it was the best choice?
            </li>
            <li>
              How will the Marvel universe continue?
            </li>
            <li>
              I know this is not Jesus's second coming, the Resurrection, because Jesus will
              split the Eastern sky. (Bible verse)
            </li>
          </ul>

        </div>

        <div id="keeppushingforward_content"
        aria-labbeled="keeppushingforward_a"
        class="tab-pane fade show"
        role="tabpanel">

          <p class="title1">
            Keep Pushing Forward
            <br>
            - 5/22/18, 12:56 PM
          </p>

          <p class="pnormal">
            And there's no human there to appreciate you, and even if there was,
            it wouldn't help because all you can think about is the pain. And you
            want to scream and pout and sit down until you never have to do
            anything ever again. And you thought it would be easy enough and over
            in 30 seconds. But every single day you wake up to pain and go to sleep
            wriggling in pain and hurt. And you hurt so intensely. I feel you
            getting up from laying on the ground because you don't want to go
            any further, and it's not a simple easy struggle of moving forward, and
            it's one of the hardest decisions you've ever made in your life. I feel
            it. I feel you laying on the floor wondering if you really have to get
            up and go through that constant, stabbing, testing, melting pain for
            another second. I am filled with compassion for you. I understand when
            you feel like nothing, no pleasure, no power, no authority on this
            earth will ever lift this pain off from you, like even compassion from
            someone who is right there with you won't make it feel better, like
            you're going to live the rest of your life in beautiful suffering and
            relentless agony. Like your whole life you're going to be always
            lifting a 2 pound weight, and it's finally starting to wear you
            down. I understand.
          </p>

        </div>

      </div>
    </div>

<% include ../../partials/footer.ejs %>